.message-container {
    display: flex;
    align-items: center; 
    gap: 8px;
}

.message-container-me {
    display: flex;
}

.chat-room {
    overflow: hidden;
    max-height: 500px;
    overflow-y: auto;
}

.chat-room p::before,
.chat-room p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}

/* 말풍선꼬리 */
.chat-room p.from-them::before { 
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}
.chat-room p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #248bf5;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}

.chat-room p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}
.chat-room p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform: translate(-30px, -2px);
    width: 10px ;
}


.chat-room .message-content {
    display: flex;
    align-items: flex-end;
}

.chat-room p {
    border-radius: 1.15rem;
    line-height: 1.25;
    padding: 0.5rem 0.875rem;
    position: relative;
}

/* 내 메시지 스타일링 */
p.from-me {
    background-color: #248bf5;
    color: #fff;
    text-align: right;
    font-size: 17px;
    word-wrap: break-word; /* 긴 단어가 잘리지 않고 줄 바꿈되도록 */
    word-break: break-word; /* 긴 텍스트를 줄 바꿈 */
    overflow-wrap: break-word; /* 긴 단어를 처리 */
}

input.from-me {
    background-color: #248bf5;
    color: #fff;
    border: none;
    word-wrap: break-word; 
    word-break: break-word;
    overflow-wrap: break-word;
}

/* 상대방 메시지 스타일링 */
.chat-room p.from-them {
    background-color: #e5e5ea;
    color: #000;
    font-size: 17px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

input.from-them {
    background-color: #e5e5ea;
    color: #000;
    border: none;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* 날짜와 버튼 컨테이너 설정 */
.info-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 5px;
}

.info-container-them {
    display: flex;
    align-items: center;
    gap: 5px;
}


.send-date {
    font-size: 0.75em;
    color: gray;
    white-space: nowrap; /* 줄 바꿈 방지 */
}

.button-container {
    display: flex;
    gap: 4px;
}

/* 작은 동그라미 버튼 스타일 */
.circle-btn {
width: 15px;
height: 15px;
border-radius: 50%;
background-color: rgba(94, 94, 94, 0.2);
border: none;
display: flex;
align-items: center;
justify-content: center;
color: #ffffff;
font-size: 10px;
cursor: pointer;
transition: background-color 0.3s;
}

.circle-btn:hover {
background-color: rgba(128, 128, 128, 0.4);
}

.circle-btn:active {
background-color: rgba(128, 128, 128, 0.6);
}
.send-user {
    font-size: 17px;
    margin-bottom: 5px;
    text-align: left;
}
.reply-header {
    font-weight: bold;
    color: #e3f3ff;
    font-size: 0.9em;
  }
  
  .reply-message {
    font-style: italic;
    color: #aad4ff;
    font-size: 1em;
  }
  .reply-header-them {
    font-weight: bold;
    color: #555;
    font-size: 0.9em;
  }
  
  .reply-message-them {
    font-style: italic;
    color: #888;
    font-size: 1em;
  }
  input.reply-header {
    background-color: #248bf5;
    color: #e3f3ff;
    border: none;
}
  input.reply-message {
    background-color: #248bf5;
    color: #aad4ff;
    border: none;
}
input.reply-header-them {
        background-color: #e5e5ea;
        font-weight: bold;
        color: #555;
        font-size: 0.9em;
        border: none;
  }
  
  input.reply-message-them {
    background-color: #e5e5ea;
    font-style: italic;
    color: #888;
    font-size: 1em;
    border: none;
  }
  .return-btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* 버튼 너비 (화면 크기에 따라 조정 가능) */
    max-width: 300px; /* 최대 너비 설정 */
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.fixed-btn {
    position: absolute;
    bottom: 2%;
    left: 7%;
    transform: translateX(-50%);
    width: 10%; /* 버튼 너비 (화면 크기에 따라 조정 가능) */
    max-width: 300px; /* 최대 너비 설정 */
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #007bff;
}